    <!-- JS, Popper.js, and jQuery -->
    
    <footer class="foot">
        <div class="container">
          <div class="foot__copyright text-center">
              <p>Copyright &copy;<em>2020</em> NBA Media Ventures, LLC. All right reserved</p>

              <ul>
                 <li><a href="">Privacy Policy</a></li>
                 <li><a href="">Accessiblity and Closed</a></li>
                 <li><a href="">Terms of Use</a></li>
                 <li><a href="">adChoices</a></li>
              </ul>
              <p>NBA.com is part of Turner Sports & Enterainment Digital Network</p>

              <img src="/images/turner-logo-removebg-preview.png" alt="turn">
          </div>
        </div>
      </footer>
    
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-52ZYD3SNE2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-52ZYD3SNE2');
    </script>
    
    <script src="/js/javaS.js"></script>
    </body>
    </html>