<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact has been sent</title>
  

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/NBA_LOGO.jpg">

    <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>


    <nav class="navbar fixed-top navbar-expand-xl navbar-light">

        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="images/nba-logo.png" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <div class="toggler-btn">
                <div class="bar bar1"></div>
                <div class="bar bar2"></div>
                <div class="bar bar3"></div>
            </div>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link nav-cost" href="/score">Scores</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-cost" href="/news">News</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-cost" href="/playoff">Playoffs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-cost" href="#">Video</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link nav-cost" href="#">NBA TV</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-cost" href="#">Stats</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-cost" href="#">Standings</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-cost" href="#">Players</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link nav-cost" href="#">Teams</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link nav-cost" href="/contact">Contact the NBA</a>
                  </li>
              </ul>

              <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Pick'Em
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <div class="arrow-up"></div>
                    <a class="dropdown-item" href="#">Pick'Em Hub</a>
                    <a class="dropdown-item" href="#">Trivia</a>
                    <a class="dropdown-item" href="#">Weekly 6</a>
                    <a class="dropdown-item" href="#">Playoffs Bracket Challenge</a>
                  </div>
                </li>
               
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Shop
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <div class="arrow-up"></div>

                    <a href="" class="dropdown-store"><img src="/images/dropdown-menu-store.png" alt="store"></a>
                    <div class="dropdown-newDivider"></div>
                    <a class="dropdown-item" href="#">Jersey</a>
                    <a class="dropdown-item" href="#">Men</a>
                    <a class="dropdown-item" href="#">Women</a>
                    <a class="dropdown-item" href="#">Kids</a>
                    <a class="dropdown-item" href="#">Custom Shop</a>
                    <a class="dropdown-item" href="#">Hats</a>
                    <a class="dropdown-item" href="#">Footer</a>
                    <a class="dropdown-item" href="#">Auctions</a>
                    <a class="dropdown-item" href="#">NBA Game Worn</a>
                    <a class="dropdown-item" href="#">NYC Store</a>
                    <a class="dropdown-item" href="#">NBA Photo Store</a>
                  </div>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">Cheer</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">NBA League Pass</a>
                </li>

                <li class="nav-item">
                  <a class="" href="#">
                    <svg class="navbar__icon">
                      <use xlink:href="images/symbol-defs.svg#icon-user"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            
            </div>
        </div>
       
      </nav>