<%- include('partials/newHeader') %>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<section class="portland">
    <div class="container">
        <div class="row justify-content-center">
            <article class="col-lg-12">
                <div class="portland__images">
                    <img src="/images/New-Portland-article-pc.jpg" alt="season">
                    <p>The stars in these playoffs have not had the benfit of a home crowd to spur them on.</p>
                </div>
                <p class="portland__para"><strong>ORLANDO, Fla.</strong> -- Last season at Staples Center, during haftime at a Los Angles
                Lakers game, we reporters were sitting at press row, just minding our business, when he left his courside seat and felt the need to
                 invade our space</p>
                <p class="portland__para">Nobody invited Denzel Washingtion -- well, actually, he didn't really need one.
                    We were thrilled when of the great actors of our time chose to spend 15 minutes with us media people, who as you know
                    are particularly loved by anyone
                </p>
                <p class="portland__para">Washingtion came to chat,about basketball of course, and he couldn't hav been more down to Earth,
                    gracious and well-versed about the game. He's been a fixture at Lakers games for decades, and his two seats (one for Paulette, his wife)
                    is just a bounce pass from press now. That means occasionally we get the Denzel node every now and then. This time, we got an audience,
                    and he seemed just as happy to see us as we were to see him.
                </p>
                <p class="portland__para">I thought of this interaction today because I miss the fans. These games at Disney are high-quality and amazing to watch.
                    How can you not moved by Damin Lilard, Donovan Mitchell and Luka Doncic, among others?
                </p>
                <p class="portland__para">When Ja Morant of now-departed Memphis Grizzlies took a lob pass and elevated into the clouds for a dunk in PLay
                    -In game with Portland, normally that would cause an eruption at the FedexForum in Memphis -- and even a gasp at a road game. Here?
                    Crickets, except for the Memphis bench.
                </p>
                <p class="portland__para">The fans make the playoff atmosphere. Not only do they energize the players, their enthusiasm and presecen also reaches
                    to us reporters. Our creativity and motivation to write our stories comes from what we see and her and, mainly, what we feel. Again,
                    taking nothing away from what these players are doing right noww -- truly enteraining performance and finishes -- but the absence of fans,
                    especically
                </p>
                <p class="portland__para">
                    Sure, it's great to speak with the rich and famous. In addition to Washington, I've been lucky enough to have besketball relationship
                    with Spike Lee, Chris Rock and a few others over the years
                </p>
                <p class="portland__para">
                    I've never been more moved by fans than during the days immediately following Kobe Bryant;s death. Their pain was heartfelt. It was
                    heartfelt. It was almost as if a family member died. They arrived by the thousands outside Staples Center to grieve. Those are devoted,
                    passionate people who pay the salaries, read the stories and truly make this sport work
                </p>
                <p class="portland__para">
                    Maybe bext season we'll have normalcy. I know the NBA is placing a high priority on having games with fans, with safety protocols of course
                    if that's possible.
                </p>
                <p class="portland__para">
                    Watching Lillard swish buckets from 30 feet here Disney is fun and sensational. Meanwhile, clear across the country, the Moda
                    Center in Portland is dark, empty and quiet you can hear a 3-pointer frop
                </p>
                <p class="portland__para">
                    I feel you, Blazers fans. Hopefully soon, I'll see you,too. And when we connect, the next cup of coffee's on me
                </p>
                <p class="portland__para">
                    * * *
                </p>
                <p class="portland__para">
                    <em>Shaun Powell has covered the NBA for than 25 years. You can e-email him <a href=""> here</a>, find <a href="#">his archive Here</a> 
                    and follow him on <a href="#">Twitter</a></em>
                </p>
                <p class="portland__para">
                    <em>The views on this page do not necessarily reflect the views of the NBA, its clubs or Turnrt Broadcaste</em>
                </p>
                  
                <h2><strong>More on NBA.com:</strong></h2>
                <ul class="portland__list">
                    <li><a href="#">How virtual fans found their seats</a></li>
                    <li><a href="#">Disney World Diary:Summer League gets a makeover</a></li>
                    <li><a href="#">Disney World Dairy: How sticky notes help spread love</a></li>
                    <li><a href="#">Complete coverage: 2020 NBA playoffs</a></li>
                </ul>
            </article>

        </div>
    </div>
</section>


<%- include('partials/footer') %>