<section class="banner">
    <div class="container-fluid px-0">
        <div class="banner__images">
         
        </div>
    </div>
</section>

<%- include('partials/playoffHeader') %>

<section class="final">
    <div class="container-fluid px-0">
        <div class="final__images">
            
        </div>
    </div>
</section>

<section class="whole">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-12">
                <div class="whole__title">
                    <h2>A Whole New Game</h2>
                </div>
                <div class="whole__para">
                    <p>The NBA PLay PLayoffs are finally here with 16 teams squaring off in Orlando for the title.</p>
                </div>
                <ul class="whole__list">
                    <li class="whole__match"><a href="#">West 1st Round: Lakers vs. Blazers</a></li>
                    <li class="whole__match"><a href="#">West 1st Round: Clipper vs Mavericks</a></li>
                    <li class="whole__match"><a href="#">West 1st Round: Rockets vs. Thunder</a></li>
                    <li class="whole__match"><a href="#">West 1st Round: Nuggets vs. Jazz</a></li>
                    <li class="whole__match"><a href="#">East 1st Round: Bucks vs. Magic</a></li>
                    <li class="whole__match"><a href="#">East 1st Round: Raptors vs. Nets</a></li>
                    <li class="whole__match"><a href="#">East 1st Round: Celtcis vs. 76ers</a></li>
                    <li class="whole__match"><a href="#">East 1st Round: Pacers vs. Heat</a></li>
                  
                </ul>
            </div>
            <div class="col-lg-7 col-12">
               <div class="whole__images">
                   <img src="/images/Side-4-Nba-PLayOffs.jpg" alt="Nba">
               </div>
            </div>
        </div>
    </div>
</section>


<br>
<br>
<br>
<section class="series">
    <div class="container">
      <div class="series__headerT">
        <h2>PlayOff Series</h2>
      </div>
  
      <div class="row">
        <div class="col-lg-3 col-sm-6 col-12">
            <div class="series__images">
              <img src="/images/Lake-vs-Blazers.jpg" alt="laker">
            </div>
            <div class="series__text">
              <a href="#">West 1st Round: Laker (1) vs. Trial Blazers (8)</a>
           </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="series__images">
            <img src="/images/clippers vs mavericks.jpg" alt="clippers">
          </div>
          <div class="series__text">
            <a href="#">West 1st Round: Clippers (2) vs. Mavericks</a>
         </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <div class="series__images">
          <img src="/images/nuggets vs jazz.jpg" alt="nuggets">
        </div>
        <div class="series__text">
          <a href="#">West 1st Round: Nuggets (3) vs. Jazz (6)</a>
       </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
      <div class="series__images">
        <img src="/images/rockets vs thunder.png" alt="rockets">
      </div>
      <div class="series__text">
        <a href="#">West 1st Round: Rockets (4) vs. Thunder (5)</a>
     </div>
  </div>
      </div>
    </div>
  </section>

<section class="series">
    <div class="container">
      <div class="series__headerT">
        <h2>PlayOff News</h2>
      </div>
  
      <div class="row">
        <div class="col-lg-4 col-12">
            <div class="series__images">
              <img src="images/10 thing to know.jpg" alt="biggest">
            </div>
            <div class="series__text">
              <a href="#">Playoffs: 10 Things to KNow</a>
           </div>
           <div class="series__paraG">
               <p>As the most unusual postsean in NBA history gets under way, hre are 10 interesting facts</p>
           </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="series__images">
            <img src="/images/Blogtable- Best First-round matchup nba.jpg" alt="clippers">
          </div>
          <div class="series__text">
            <a href="#">Blogtable: Inside The Matchups</a>
         </div>
         <div class="series__paraG">
            <p>The NBA.com writers debate which first round series is the  most intriguing</p>
        </div>
      </div>
      <div class="col-lg-4 col-12">
        <div class="series__images">
          <img src="images/nba playoff predictions 2020.png" alt="nuggets">
        </div>
        <div class="series__text">
          <a href="#">Playoff Predictions</a>
       </div>
       <div class="series__paraG">
        <p>In a wide-open Playoff race, it's time for the experts to make come predictions</p>
    </div>
    </div>
   
      </div>
    </div>
  </section>


<section class="series">
    <div class="container">
      <div class="series__headerT">
        <h2>PlayOffs Video</h2>
      </div>
  
      <div class="row">
        <div class="col-lg-3 col-sm-6 col-12">
            <div class="series__images">
              <img src="/images/The 2020 Nba Playoffs are here.jpg" alt="joe">
            </div>
            <div class="series__text">
              <a href="#">The 2020 NBA Playoffs are here!</a>
           </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="series__images">
            <img src="/images/The playoffs are here2.jpg" alt="money">
          </div>
          <div class="series__text">
            <a href="#">The Playoffs Are Here!</a>
         </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <div class="series__images">
          <img src="/images/first round preview- nuggets vs jazz.jpg" alt="nuggets">
        </div>
        <div class="series__text">
          <a href="#">First-round preview: Nugget vs. Jazz</a>
       </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
      <div class="series__images">
        <img src="/images/What clippers must do to shut down mavs offense.jpg" alt="rockets">
      </div>
      <div class="series__text">
        <a href="#">What Clippers must do to shut down Mavs offense</a>
     </div>
  </div>
      </div>
    </div>
  </section>



  <section class="series">
    <div class="container">
      <div class="series__headerT">
        <h2>Inside The Playoffs</h2>
      </div>
  
      <div class="row">
        <div class="col-lg-6 col-12">
            <div class="series__images2">
              <img src="/images/Playoffs Bracket challege.png" alt="challege">
            </div>
            <div class="series__mainTitle"><h2>Playoffs Bracket Challenge</h2></div>
            <div class="series__para">
              <p>Craete a group challege your friends and complete for $1 million <br> dollers!</p>
           </div>
        </div>
        <div class="col-lg-6 col-12">
        <div class="row">
          <div class="col-lg-4">
            <div class="series__miniImgaes">
              <img src="/images/playoffs Schedule.jpg" alt="Schedule">
            </div>
          </div>
          <div class="col-lg-8">
            <div class="series__miniTitle">
              <h3>Playoffs Schedule</h3>
            </div>
            <div class="series__miniPara">
              <p>Get the latest matchups, tip times and television listing for all playoff games</p>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-lg-4">
            <div class="series__miniImgaes">
              <img src="/images/Playoffes History.jpg" alt="history">
            </div>
          </div>
          <div class="col-lg-8">
            <div class="series__miniTitle">
              <h3>Playoffs History</h3>
            </div>
            <div class="series__miniPara">
              <p>Re-live some of the most iconic moments in NBA Playoff history</p>
            </div>
          </div>
        </div>
  
  
        <div class="row">
          <div class="col-lg-4">
            <div class="series__miniImgaes">
              <img src="/images/nba stat seson leader.jpeg" alt="state">
            </div>
          </div>
          <div class="col-lg-8">
            <div class="series__miniTitle">
              <h3>Stats: Season Leader</h3>
            </div>
            <div class="series__miniPara">
              <p>Get key stats and category leaders for the 2019-20 season.</p>
            </div>
          </div>
        </div>
      </div>
      
      </div>
    </div>
  </section>



  <%- include('partials/footer') %>