<%- include('partials/scoreHeader') %>
<br>
<br>
<br>
<br>
<br>
<br>
<section class="score">
    <div class="container">
        <div class="score__date text-center">
            <p>Wednesday, Aug.19</p>
        </div>
        <div class="row   justify-content-center">
            <div class="col-lg-5 col-12">
                <div class="score__background">
                    <div class="score__game">
                        <p>Game 2 (TOR leads 2-0)</p>
                        <p class="score__round">East Conf. 1st Round</p>
                    </div>
                            <div class="score__finalT">
                                <p class="fi"><strong>Final</strong></p>
                                <p class="pass">LEAGUE PASS</p>
                            </div>
                           <div class="score__images">
    
                            <li><img src="/images/brooklyn net logo-score.png" alt="net"></li>
                            <li> <p>Brooklyn Nets</p> </li>
                            <li class="number"><span class="lost">99</span> </li>
                           </div>
                             <br>
                           <div class="score__images">
    
                            <li><img src="/images/raptors logo.png" alt="net"></li>
                            <li> <p>Toronto Raptors</p> </li>
                            <li class="number"><span class="win">104</span> </li>
                           </div>
                </div>
            </div>
            <div class="col-lg-5 col-12">
                <div class="score__background">
                    <div class="score__game">
                        <p>Game 2 (Series tied 1-1)</p>
                        <p class="score__round">West Conf. 1st Round</p>
                    </div>
                            <div class="score__finalT">
                                <p class="fi"><strong>Final</strong></p>
                                <p class="pass">LEAGUE PASS</p>
                            </div>
                           <div class="score__images">
    
                            <li><img src="images/Uthan_Jazz_logo-score-removebg-preview.png" alt="jazz"></li>
                            <li> <p>Utah Jazz</p> </li>
                            <li class="number"><span class="win">124</span> </li>
                           </div>
                             <br>
                           <div class="score__images">
    
                            <li><img src="images/denver nuggets logo-score.png" alt="nuggets"></li>
                            <li> <p>Denver Nuggets</p> </li>
                            <li class="number"><span class="lost">105</span> </li>
                        
                           </div>
                </div>
            </div>
        </div>

         <br>
         <br>
         <br>
         <br>
        <div class="row justify-content-center">
            <div class="col-lg-5 col-12">
                <div class="score__background">
                    <div class="score__game">
                        <p>Game 2 (BOS leads 2-0)</p>
                        <p class="score__round">East Conf. 1st Round</p>
                    </div>
                            <div class="score__finalT">
                                <p class="fi"><strong>Final</strong></p>
                                <p class="pass">LEAGUE PASS</p>
                            </div>
                           <div class="score__images">
    
                            <li><img src="/images/philadelphia 76ers logo-score.png" alt="76ers"></li>
                            <li> <p>Philadelphia</p> </li>
                            <li class="number"><span class="lost">101</span> </li>
                           </div>
                             <br>
                           <div class="score__images">
    
                            <li><img src="/images/boston_celtics_logo-score-removebg-preview.png" alt="logo"></li>
                            <li> <p>Boston Celtics</p> </li>
                            <li class="number"><span class="win">128</span> </li>
                           </div>
                </div>
            </div>
            <div class="col-lg-5 col-12">
                <div class="score__background">
                    <div class="score__game">
                        <p>Game 2 (Series tied 1-1)</p>
                        <p class="score__round">West Conf. 1st Round</p>
                    </div>
                            <div class="score__finalT">
                                <p class="fi"><strong>Final</strong></p>
                                <p class="pass">LEAGUE PASS</p>
                            </div>
                           <div class="score__images">
    
                            <li><img src="/images/Dallas_Mavericks_logo-score-removebg-preview.png" alt="maverrisks"></li>
                            <li> <p>Dallas Mavericks</p> </li>
                            <li class="number"><span class="win">127</span> </li>
                           </div>
                             <br>
                           <div class="score__images">
    
                            <li><img src="/images/clippers logo.png" alt="la"></li>
                            <li> <p>LA Clippers</p> </li>
                            <li class="number"><span class="lost">114</span> </li>
                           </div>
                </div>
            </div>
        </div>
    </div>
</section>


<br>
<br>
<section class="score">
    <div class="container">
        <div class="score__date text-center">
            <p>Thursday, Aug.20</p>
        </div>
        <div class="row   justify-content-center">
            <div class="col-lg-5 col-12">
                <div class="score__background">
                    <div class="score__game">
                        <p>Game 2 (MIA leads 2-0)</p>
                        <p class="score__round">East Conf. 1st Round</p>
                    </div>
                            <div class="score__finalT">
                                <p class="fi"><strong>Final</strong></p>
                                <p class="pass">LEAGUE PASS</p>
                            </div>
                           <div class="score__images">
    
                            <li><img src="/images/miami heat logo score.png" alt="heat"></li>
                            <li> <p>Miami Heat</p> </li>
                            <li class="number"><span class="win">109</span> </li>
                           </div>
                             <br>
                           <div class="score__images">
    
                            <li><img src="/images/indiana_pacers_logo-score-removebg-preview.png" alt="pacer"></li>
                            <li> <p>Indiana Pacers</p> </li>
                            <li class="number"><span class="lost">100</span> </li>
                           </div>
                </div>
            </div>
            <div class="col-lg-5 col-12">
                <div class="score__background">
                    <div class="score__game">
                        <p>Game 2 (HOU leads 2-0)</p>
                        <p class="score__round">West Conf. 1st Round</p>
                    </div>
                            <div class="score__finalT">
                                <p class="fi"><strong>Final</strong></p>
                                <p class="pass">LEAGUE PASS</p>
                            </div>
                           <div class="score__images">
    
                            <li><img src="/images/oklahoma_city_thunder_logo-score-removebg-preview.png" alt="thunder"></li>
                            <li> <p>Oklahoma City Thunder</p> </li>
                            <li class="number"><span class="lost">98</span> </li>
                           </div>
                             <br>
                           <div class="score__images">
    
                            <li><img src="/images/Huston_Rockets_logo-score-removebg-preview.png" alt="rockets"></li>
                            <li> <p>Houston Rockets</p> </li>
                            <li class="number"><span class="win">111</span> </li>
                        
                           </div>
                </div>
            </div>
        </div>

         <br>
         <br>
         <br>
         <br>
        <div class="row justify-content-center">
            <div class="col-lg-5 col-12">
                <div class="score__background">
                    <div class="score__game">
                        <p>Game 2 (Series tied 1-1)</p>
                        <p class="score__round">East Conf. 1st Round</p>
                    </div>
                            <div class="score__finalT">
                                <p class="fi"><strong>Final</strong></p>
                                <p class="pass">LEAGUE PASS</p>
                            </div>
                           <div class="score__images">
    
                            <li><img src="/images/Orlando_Magic_logo-score-removebg-preview.png" alt="magic"></li>
                            <li> <p>Orlando Magic</p> </li>
                            <li class="number"><span class="win">96</span> </li>
                           </div>
                             <br>
                           <div class="score__images">
    
                            <li><img src="/images/milwaukee bucks logo-score.png" alt="bucks"></li>
                            <li> <p>Milwaukee Bucks</p> </li>
                            <li class="number"><span class="win">111</span> </li>
                           </div>
                </div>
            </div>
            <div class="col-lg-5 col-12">
                <div class="score__background">
                    <div class="score__game">
                        <p>Game 2 (Series tied 1-1)</p>
                        <p class="score__round">West Conf. 1st Round</p>
                    </div>
                            <div class="score__finalT">
                                <p class="fi"><strong>Final</strong></p>
                                <p class="pass">LEAGUE PASS</p>
                            </div>
                           <div class="score__images">
    
                            <li><img src="/images/blazers logo-score.png" alt="blazers"></li>
                            <li> <p>Portland Trail Blazers</p> </li>
                            <li class="number"><span class="lost">88</span> </li>
                           </div>
                             <br>
                           <div class="score__images">
    
                            <li><img src="/images/los_angeles_lakers_logo-score-removebg-preview.png" alt="lakers"></li>
                            <li> <p>Los Angles Lakers</p> </li>
                            <li class="number"><span class="win">111</span> </li>
                           </div>
                </div>
            </div>
        </div>
    </div>
</section>


<%- include('partials/footer') %>