<%- include('partials/thankHeader') %>
<br>
<br>
<br>
<br>
<br>
<br>
<section class="thanks">
    <div class="container">
        <div class="thanks__para text-center">
            <p>Your message was sent sccessfully. Thanks.</p>

            <img src="images/thanks-logo-removebg-preview.png" alt="thanklogo">
        </div>
    </div>
</section>



<%- include('partials/footer') %>